<?xml version="1.0" encoding="utf-8"?>
<ItemDataSources>

    <DataSource>
        <Id>FrontEndDataSources</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.FrontEndDataSources, avt.ActionForm.Core</TypeStr>
        <Settings>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>
    
    <DataSource>
        <Id>Roles</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.PortalRoles, avt.ActionForm.Core</TypeStr>
    </DataSource>

    <DataSource>
        <Id>FilesInFolder</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.FilesInFolder, avt.ActionForm.Core</TypeStr>
        <Settings>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>PortalFiles</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.PortalFiles, avt.ActionForm.Core</TypeStr>
    </DataSource>

    <DataSource>
        <Id>PortalFolders</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.PortalFolders, avt.ActionForm.Core</TypeStr>
        <Settings>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>PortalFolderList</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.PortalFolderList, avt.ActionForm.Core</TypeStr>
    </DataSource>

    <DataSource>
        <Id>TimeZoneList</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.TimeZoneList, avt.ActionForm.Core</TypeStr>
    </DataSource>
    

    <DataSource>
        <Id>PortalPages</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.PortalPages, avt.ActionForm.Core</TypeStr>
    </DataSource>

    <DataSource>
        <Id>Portals</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.Portals, avt.ActionForm.Core</TypeStr>
    </DataSource>

    <DataSource>
        <Id>Regions</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.DnnList, avt.ActionForm.Core</TypeStr>
        <Settings>
            <ListName>Region</ListName>
            <BaseKey>Country</BaseKey>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>
    
    <DataSource>
        <Id>RecurringPayments</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.FromEnum, avt.ActionForm.Core</TypeStr>

        <Settings>
            <Enum>avt.ActionForm.Core.Actions.ePayPalRecurringInterval</Enum>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>
    
    <DataSource>
        <Id>Currency</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.FromXml, avt.ActionForm.Core</TypeStr>

        <Settings>
            <Path>[AppPath]\Config\Currency.xml</Path>
        </Settings>

    </DataSource>

    <DataSource>
        <Id>BgPatterns</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.PortalFiles, avt.ActionForm.Core</TypeStr>

        <Settings>
            <FileTypes>.png,.gif,.jpg</FileTypes>
            <RestrictFolder>[AppUrl]/static/bg/patterns</RestrictFolder>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>

    <DataSource>
        <Id>BgImages</Id>
        <TypeStr>avt.ActionForm.Core.ItemDataSources.PortalFiles, avt.ActionForm.Core</TypeStr>

        <Settings>
            <FileTypes>.png,.gif,.jpg</FileTypes>
            <RestrictFolder>[AppUrl]/static/bg/images</RestrictFolder>
            <AdminOnly>true</AdminOnly>
        </Settings>
    </DataSource>
    
</ItemDataSources>
