<backupinfo>

<backuptype>PORTALFILES</backuptype>
<created>2014.08.26 08:49:50</created>
<sourcesite><![CDATA[ehaml.ir]]></sourcesite>
<backupfoldername><![CDATA[backup]]></backupfoldername>
<backupfilename><![CDATA[myfiles.2014.08.26.084936_Files.zip]]></backupfilename>
<dnnversion>07.01.01</dnnversion>
<hostportalid>0</hostportalid>
<dnnbackupversion>7.0.1.4369</dnnbackupversion>
<dotnetversion>4.5</dotnetversion>
<webconfig>True</webconfig>
<hostfolder>True</hostfolder>
<binfolder>True</binfolder>
<modulesfolder>True</modulesfolder>
<otherfolders>True</otherfolders>
<excludetempfolders>False</excludetempfolders>
<excludecachefolders>False</excludecachefolders>
<excludelogfiles>False</excludelogfiles>
<neworupdatedfiles>False</neworupdatedfiles>
<excludedfolders><![CDATA[]]></excludedfolders>
<excludedfiles><![CDATA[]]></excludedfiles>
<externalfolders><![CDATA[]]></externalfolders>

</backupinfo>
