<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections />
    <appSettings />
    <connectionStrings />

    <system.codedom>
        <compilers>
            <compiler extension=".cs" language="c#;cs;csharp" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5" />
                <providerOption name="WarnAsError" value="false" />
            </compiler>
        </compilers>
    </system.codedom>

    <system.web>
        <compilation debug="false" strict="false" />
        <customErrors mode="Off" />
        <authentication mode="Forms" />
        <httpRuntime executionTimeout="300000" maxRequestLength="50001" requestLengthDiskThreshold="50001" shutdownTimeout="300000" useFullyQualifiedRedirectUrl="true" />
        <globalization culture="en-US" fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="en" />
        <pages enableEventValidation="false" enableViewStateMac="true" validateRequest="false" />
    </system.web>
    
    <runtime />

</configuration>