<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

    <Type>
        <Title>Dropdown with Checkboxes</Title>
        <Name>dropdown-checkboxes</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoiceMultiSelect,avt.ActionForm.Core</TypeStr>
        <Flag>checkbox</Flag>
        <Settings>
            <IsCommon>true</IsCommon>
        </Settings>
        
        <Parameter>
            <Id>Horizontal</Id>
            <Title>
                <Item key="default">Display Horizontally</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Turn on this option to display checkboxes next to one another on the same line.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">false</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>LinkTo</Id>
            <Title>
                <Item key="default">Link to</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Link this to another multi-select fiel that when changed it will cause this control to update with different items.
                    For example, imagine Category and Subcategory selection.
                    When this option is used, prefix each item below with the name of the parent category like this: "Value Of Parent Item/This Item"
                </Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>['closed-multiple-dropdown', 'closed-multiple-radio', 'closed-multiple-checkbox']</FieldType>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>Values</Id>
            <Title>
                <Item key="default">Items</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    Input one item per line. If you need to provide different text and value, then separate them by pipe.
                    You can also add a &quot;Select&quot; SQL statement here.
                    Can contain <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the check boxes are initially selected. Possible values are from the list above.
                    Separate multiple values with semicolon (;) characters.
                    Supports <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>SaveToReport</Id>
            <Title>
                <Item key="default">Save to Report</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The field will be saved in Reports.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">true</Item>
            </DefaultValue>
        </Parameter>
    </Type>

</InputTypes>
