<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="EHamlConnectionString" connectionString="Data Source=.;Initial Catalog=EHaml;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="EHamlDBConnectionString"
         connectionString="Data Source=.;Initial Catalog=EHamlDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.sms.gostara.net/post/send.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendSoap" contract="ServiceReference1.SendSoap"
                name="SendSoap" />
    </client>
  </system.serviceModel>
</configuration>